# Compiled Python code
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE-specific files
.idea/
*.iml
*.ipdb

# OS-specific files
.DS_Store

# Log files
*.log

# Data files (if not versioned)
data/

# Temporary files
tmp/
temp/

# Build artifacts
dist/
build/

# Secrets and credentials (VERY IMPORTANT!)
*.env
secrets.txt
config.ini

# Files for test
test.py
helper_function.py
